section#focus.focus
    .container
        .section-header
            h2.dark-text Focus
            h6
                | The brewery process
        .imageProcess
            img(src='images/process.png')
