section#focus.focus.hidden-xs
    .container
        div.section-header.titleFocus
            h2.dark-text {{ 'TITLE_FOCUS' | translate }}
        .row
            .col-xd-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/holliday.jpg')
                    .caption
                        h3 {{ 'TITLE_IMG1' | translate }}
                        p {{ 'DESC_IMG1' | translate }}
            .col-xd-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/sport.jpeg')
                    .caption
                        h3 {{ 'TITLE_IMG2' | translate }}
                        p {{ 'DESC_IMG2' | translate }}
            .col-xd-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/white.jpg')
                    .caption
                        h3 {{ 'TITLE_IMG3' | translate }}
                        p {{ 'DESC_IMG3' | translate }}
            .col-xd-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/fruits.jpeg')
                    .caption
                        h3 {{ 'TITLE_IMG4' | translate }}
                        p {{ 'DESC_IMG4' | translate }}

        .row
            .col-xd-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/choose_1.jpg')
                    .caption
                        h3
                            span.title-first-word {{ 'TITLE_IMG5' | translate }}
                        p {{ 'DESC_IMG5' | translate }}
            .col-xd-12.col-sm-3.col-md-3.emptyBlockTwo
                .thumbnail.thumbnailFocus
                    img(src='images/love.jpeg')
                    .caption
                        h3 {{ 'TITLE_IMG6' | translate }}
                        p {{ 'DESC_IMG6' | translate }}

            .col-xd-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/team.jpg')
                    .caption
                        h3 {{ 'TITLE_IMG7' | translate }}
                        p {{ 'DESC_IMG7' | translate }}
            .col-xd-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/community.jpg')
                    .caption
                        h3
                            span.title-first-word {{ 'TITLE_IMG8' | translate }}
                        p {{ 'DESC_IMG8' | translate }}
        .row.rowFocus
            .compassFocus
                a(ng-click="gotoAnchor('searchBeer')")
                    i.fa.fa-chevron-down.fa-4x