section#focus.focus.hidden-xs.hidden-sm
    .container
        div.section-header.titleFocus
            h2.dark-text(translate="TITLE_FOCUS")
        .row
            .col-xs-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/holliday.jpg')
                    .caption
                        h3(translate="TITLE_IMG1")
                        p(translate="DESC_IMG1")
            .col-xs-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/sport.jpeg')
                    .caption
                        h3(translate="TITLE_IMG2")
                        p(translate="DESC_IMG2")
            .col-xs-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/white.jpg')
                    .caption
                        h3(translate="TITLE_IMG3")
                        p(translate="DESC_IMG3")
            .col-xs-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/fruits.jpeg')
                    .caption
                        h3(translate="TITLE_IMG4")
                        p(translate="DESC_IMG4")

        .row
            .col-xs-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/choose_1.jpg')
                    .caption
                        h3
                            span.title-first-word(translate="TITLE_IMG5")
                        p(translate="DESC_IMG5")
            .col-xs-12.col-sm-3.col-md-3.emptyBlockTwo
                .thumbnail.thumbnailFocus
                    img(src='images/love.jpeg')
                    .caption
                        h3(translate="TITLE_IMG6")
                        p(translate="DESC_IMG6")

            .col-xs-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/team.jpg')
                    .caption
                        h3(translate="TITLE_IMG7")
                        p(translate="DESC_IMG7")
            .col-xs-12.col-sm-3.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/community.jpg')
                    .caption
                        h3
                            span.title-first-word(translate="TITLE_IMG8")
                        p(translate="DESC_IMG8")
        .row.rowFocus
            .compassFocus
                a(ng-click="gotoAnchor('searchBeer')")
                    i.fa.fa-chevron-down.fa-4x