section#focus.focus
    .container
        div.section-header.titleFocus
            h2.dark-text Why ?
        .row
            .col-sm-6.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/holliday.jpg')
                    .caption
                        h3 White Beer
                        p It's hot, you're exhausted, you want to refresh yourself but you do not know where to go?
            .col-sm-6.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/sport.jpeg')
                    .caption
                        h3 Lager Beer
                        p You just run a marathon and want to see a beautiful blonde ?
            .col-sm-6.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/white.jpg')
                    .caption
                        h3 Tempare Beer
                        p Neither snow, cold and wind can not stop you from drinking a beer of character ... unless you don't know where drink ...
            .col-sm-6.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/fruits.jpeg')
                    .caption
                        h3 Kierk Beer
                        p Feel like strawberry? It's complicated but Beer2Beer can find it!

        .row
            .col-sm-6.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/choose_1.jpg')
                    .caption
                        h3
                            span.title-first-word Beer2Beer
                        p This site references the beers in bars around you and their prices.
            .col-sm-6.col-md-3.emptyBlockTwo
                .thumbnail.thumbnailFocus
                    img(src='images/love.jpeg')
                    .caption
                        h3 I Love Beer
                        p Share the same passion : Beer

            .col-sm-6.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/team.png')
                    .caption
                        h3 Cheaper Beer
                        p You want to drink a beer with friends without breaking the bank ?
            .col-sm-6.col-md-3
                .thumbnail.thumbnailFocus
                    img(src='images/community.jpg')
                    .caption
                        h3
                            span.title-first-word Beer2Beer
                        p Is a community site. We need you to improve the offered services and above all indexed beers.
        .row.rowFocus
            .compassFocus
                a(ng-click="gotoAnchor('searchBeer')")
                    i.fa.fa-chevron-down.fa-4x