section#home
    .container
        .row
            .col-md-12
                .imageHome
                    img(src='images/home.png')
        .row.title-accroche
            br
            h1
                span.title-first-word Beer2Beer
                span , the best place to find your beer.
        .row.rowCompass
            .compassHome
                a(ng-click="gotoAnchor('focus')")
                    i.fa.fa-chevron-down.fa-4x
