section#home
    .container
        .row
            .col-md-12
                .imageHome
                    img(src='images/home.png')
        .row.title-accroche
            br
            h1
                span.title-first-word BeerTooBeer
                span {{ 'TITLE_B2B' | translate }}
        .row.rowCompass
            .compassHome
                a(ng-click="gotoAnchor('focus')")
                    i.fa.fa-chevron-down.fa-4x
