section#menuAdminController(ng-controller="menuAdminController")
  .container

    .row
      .col-md-8
        .row
          ui-gmap-google-map.mapForAddBeerOrBar(center='map.center',zoom='map.zoom')
            ui-gmap-markers(models="myLocation",idKey="'uid'",icon="'icon'",coords="'self'")
            ui-gmap-markers(models="barsLocation",idKey="'uid'",icon="'icon'",coords="'self'",click="'onClick'")
            ui-gmap-markers(models="searchLocation",idKey="'uid'",icon="'icon'",coords="'self'")

        .row
          div#infoBar(ng-show="beerShow")
            h3 {{ 'TABLEAU_TITLE' | translate }} {{beerShow.nom}}
            table.table.table-striped
              thead
                tr
                  th {{ 'TABLEAU_DESC_1' | translate }}
                  th {{ 'TABLEAU_DESC_2' | translate }}
                  th {{ 'TABLEAU_DESC_3' | translate }}
                  th {{ 'TABLEAU_DESC_4' | translate }}
                  th {{ 'TABLEAU_DESC_5' | translate }}
                  th(ng-show='currentUser.role=="ADMIN"') {{ 'TABLEAU_DESC_6' | translate }}
              tbody
                tr(ng-repeat='consumption in beerShow.consumptions')
                  td {{ consumption.beer_id[0].nom }}
                  td
                   p(ng-repeat="type in consumption.type_id") {{type.name}}
                  td {{ consumption.beer_id[0].alcool }} %
                  td {{ consumption.quantity }}
                  td {{ consumption.price }} €
                  td(ng-show='consumption.enable && currentUser.role=="ADMIN"')
                    button.btn.btn-default(ng-click="changerEtatConsumption(consumption)")
                      span.glyphicon.glyphicon-ok-circle
                  td(ng-show='!consumption.enable && currentUser.role=="ADMIN"')
                    button.btn.btn-default(ng-click="changerEtatConsumption(consumption)")
                      span.glyphicon.glyphicon-remove-circle

      .col-md-4
        form
          div
            h3.error(ng-show="error") {{error}}
            h3.text-success(ng-show="message") {{message}}
            h4
              span.glyphicon.glyphicon-search
              label {{ 'ADMIN_TITRE_BAR' | translate }}
            .form-group
              label(for="nameOBar") {{ 'ADMIN_LIST_NAME' | translate }}
              ui-select(ng-model='bar.selected',theme='bootstrap', ng-disabled='addNewBar',on-select="gotoBar($item, $model)", reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter an bar...') {{$select.selected.nom}}
                ui-select-choices(repeat='bar in bars track by $index', refresh='refreshBars($select.search)', refresh-delay='0')
                  div(ng-bind-html='bar.nom | highlight: $select.search')
              span.glyphicon.glyphicon-plus
                a(ng-click="showFormNewBar()") {{ 'ADMIN_LINK_ADD' | translate }}

          div(ng-show="addNewBar")
            .form-group
              label(for="nameOfBar") {{ 'ADMIN_LABEL_NAME' | translate }}
              input#nameOfBar.form-control(ng-model="newBar.nom",ng-disabled="!addNewBar")

            .form-group
              label(for="addressOfBar") {{ 'ADMIN_LABEL_ADDR' | translate }}
              input#addressOfBar.form-control(ng-model="newBar.adresse",ng-disabled="!addNewBar")

            .form-group
              label(for="geolocationOfBar") {{ 'ADMIN_LABEL_GEO' | translate }}
              input#geolocationOfBar.form-control(ng-model="newBar.geolocation",ng-disabled="true")

            .form-group
             button.btn.btn-primary(type="button",ng-click="createBar()",ng-disabled="!addNewBar") {{ 'ADMIN_LABEL_BTN' | translate }}

          div
            h4
              span.glyphicon.glyphicon-search
              label {{ 'ADMIN_TITRE_BEER' | translate }}

            .form-group
              label(for="nameOfBeer") {{ 'ADMIN_LIST_NAME_BEER' | translate }}
              ui-select(ng-model='beer.selected', theme='bootstrap', ng-disabled='addNewBeer', reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter an beer...') {{$select.selected.nom}}
                ui-select-choices(repeat='beer in beers track by $index', refresh='refreshBeers($select.search)', refresh-delay='0')
                  div(ng-bind-html='beer.nom | highlight: $select.search')
              span.glyphicon.glyphicon-plus
                a(ng-click="showFormNewBeer()",ng-show='currentUser.role=="ADMIN"') {{ 'ADMIN_LINK_ADD_BEER' | translate }}

          div(ng-show="addNewBeer")
            .form-group
              label(for="nameOfBeer") {{ 'ADMIN_LABEL_NAME_BEER' | translate }}
              input#nameOfBeer.form-control(ng-model="newBeer.nom",ng-disabled="!addNewBeer")

            .form-group
              label(for="typeOfBeer") {{ 'ADMIN_LABEL_TYPE_BEER' | translate }}
              ui-select(multiple,ng-model='multipleChoose.selectedTypes', theme='bootstrap', ng-disabled='!addNewBeer', reset-search-input='true', style='width: 300px;')
                ui-select-match(placeholder='Enter an type...') {{$item.name}}
                ui-select-choices(repeat='type in types', refresh='refreshTypes($select.search)', refresh-delay='0')
                  div(ng-bind-html='type.name | highlight: $select.search')

            .form-group
              label(for="alcoolInBeer") {{ 'ADMIN_LABEL_ALCOOL' | translate }}
              div#alcoolInBeer.input-group
                input.form-control(type="text",ng-model="newBeer.alcool",ng-disabled="!addNewBeer",is-number)
                span.input-group-addon %

            .form-group
              label(for="breweryForBeer") {{ 'ADMIN_LABEL_BREWERY' | translate }}
              ui-select(ng-model='newBeer.brewery_id[0]', theme='bootstrap', ng-disabled='!addNewBeer', reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter an Brewery...') {{newBeer.brewery_id[0].name}}
                ui-select-choices(repeat='brewery in breweries track by $index', refresh='refreshBreweries($select.search)', refresh-delay='0')
                  div(ng-bind-html='brewery.name | highlight: $select.search')

            .form-group
              button.btn.btn-primary(type="button",ng-click="createBeer()",ng-disabled="!addNewBeer") {{ 'ADMIN_LABEL_BTN_BEER' | translate }}

          div
            .form-group
              label(for="priceOfBeer") {{ 'ADMIN_LABEL_PRICE' | translate }}
              div#priceOfBeer.input-group
                input.form-control(type="text",ng-model="price",ng-disabled="!bar.selected._id || !beer.selected._id",is-number)
                span.input-group-addon €

            .form-group
              label(for="quantityOfBeer") {{ 'ADMIN_LABEL_QUANTITY' | translate }}
              ui-select(ng-model='quantity.selected', theme='bootstrap', ng-disabled='!bar.selected._id || !beer.selected._id', reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter quantity...') {{$select.selected.quantity}}
                ui-select-choices(repeat='quantity in quantities track by $index', refresh='refreshBeers($select.search)', refresh-delay='0')
                  div(ng-bind-html='quantity.quantity | highlight: $select.search')


            button.btn.btn-primary(type="button",ng-click="link()",ng-disabled="!bar.selected._id || !beer.selected._id || form.priceOfBeer.$error") {{ 'ADMIN_BTN_LINK' | translate }}


