section#menuAdminController(ng-controller="menuAdminController")
  .container
    .row
      div.alert.alert-info(role="alert",ng-show="message") {{message}}

    .row
      .col-md-8
        .row
          ui-gmap-google-map.mapForAddBeerOrBar(center='map.center',zoom='map.zoom')
            ui-gmap-markers(models="myLocation",idKey="'uid'",icon="'icon'",coords="'self'")
            ui-gmap-markers(models="barsLocation",idKey="'uid'",icon="'icon'",coords="'self'",click="'onClick'")
            ui-gmap-markers(models="searchLocation",idKey="'uid'",icon="'icon'",coords="'self'")

        .row
          div#infoBar(ng-show="!addNewBar && bar.selected")
            h3 List of Beer here : {{bar.selected.nom}}
            table.table.table-striped
              thead
                tr
                  th Name
                  th Type
                  th Alcool
                  th Quantity
                  th Price
                  th Validate
              tbody
                tr(ng-repeat='consumption in bar.selected.consumptions')
                  td {{ consumption.beer[0].nom }}
                  td {{ consumption.beer[0].type }}
                  td {{ consumption.beer[0].alcool }} %
                  td {{ consumption.quantity }}
                  td {{ consumption.price }} €
                  td(ng-show='consumption.enable')
                    button.btn.btn-default(ng-click="consumption.enable=!consumption.enable;changerEtatConsumption()")
                      span.glyphicon.glyphicon-ok-circle
                  td(ng-hide='consumption.enable')
                    button.btn.btn-default(ng-click="consumption.enable=!consumption.enable;changerEtatConsumption()")
                      span.glyphicon.glyphicon-remove-circle

      .col-md-4
        form
          div
            h3.error(ng-show="error") {{error}}
            h3.text-success(ng-show="message") {{message}}
            h4
              span.glyphicon.glyphicon-search
              label Choose a Bar
            .form-group
              label(for="nameOBar") Name of Bar
              ui-select(ng-model='bar.selected',theme='bootstrap', ng-disabled='addNewBar',on-select="gotoBar($item, $model)", reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter an bar...') {{$select.selected.nom}}
                ui-select-choices(repeat='bar in bars track by $index', refresh='refreshBars($select.search)', refresh-delay='0')
                  div(ng-bind-html='bar.nom | highlight: $select.search')
              span.glyphicon.glyphicon-plus
                a(ng-click="showFormNewBar()") Add a new bar

          div(ng-show="addNewBar")
            .form-group
              label(for="nameOfBar") Name :
              input#nameOfBar.form-control(ng-model="newBar.nom",ng-disabled="!addNewBar")

            .form-group
              label(for="addressOfBar") Address :
              input#addressOfBar.form-control(ng-model="newBar.adresse",ng-disabled="!addNewBar")

            .form-group
              label(for="geolocationOfBar") Geolocation :
              input#geolocationOfBar.form-control(ng-model="newBar.geolocation",ng-disabled="true")

            .form-group
             button.btn.btn-primary(type="button",ng-click="createBar()",ng-disabled="!addNewBar") Create Bar

          div
            h4
              span.glyphicon.glyphicon-search
              label Choose a Beer

            .form-group
              label(for="nameOfBeer") Name of Beer
              ui-select(ng-model='beer.selected', theme='bootstrap', ng-disabled='addNewBeer', reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter an beer...') {{$select.selected.nom}}
                ui-select-choices(repeat='beer in beers track by $index', refresh='refreshBeers($select.search)', refresh-delay='0')
                  div(ng-bind-html='beer.nom | highlight: $select.search')
              span.glyphicon.glyphicon-plus
                a(ng-click="showFormNewBeer()") Add a new beer

          div(ng-show="addNewBeer")
            .form-group
              label(for="nameOfBeer") Name :
              input#nameOfBeer.form-control(ng-model="newBeer.nom",ng-disabled="!addNewBeer")

            .form-group
              label(for="typeOfBeer") Type :
              ui-select(ng-model='newBeer.type_id[0]', theme='bootstrap', ng-disabled='!addNewBeer', reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter an type...') {{newBeer.type_id[0].name}}
                ui-select-choices(repeat='type in types track by $index', refresh='refreshTypes($select.search)', refresh-delay='0')
                  div(ng-bind-html='type.name | highlight: $select.search')

            .form-group
              label(for="alcoolInBeer") Alcool :
              div#alcoolInBeer.input-group
                input.form-control(type="text",ng-model="newBeer.alcool",ng-disabled="!addNewBeer",is-number)
                span.input-group-addon %

            .form-group
              label(for="breweryForBeer") Brewery :
              ui-select(ng-model='newBeer.brewery_id[0]', theme='bootstrap', ng-disabled='!addNewBeer', reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter an Brewery...') {{newBeer.brewery_id[0].name}}
                ui-select-choices(repeat='brewery in breweries track by $index', refresh='refreshBreweries($select.search)', refresh-delay='0')
                  div(ng-bind-html='brewery.name | highlight: $select.search')

            .form-group
              button.btn.btn-primary(type="button",ng-click="createBeer()",ng-disabled="!addNewBeer") Create Beer

          div
            .form-group
              label(for="priceOfBeer") Price :
              div#priceOfBeer.input-group
                input.form-control(type="text",ng-model="price",ng-disabled="!bar.selected._id || !beer.selected._id",is-number)
                span.input-group-addon €

            .form-group
              label(for="quantityOfBeer") Quantity :
              ui-select(ng-model='quantity.selected', theme='bootstrap', ng-disabled='!bar.selected._id || !beer.selected._id', reset-search-input='false', style='width: 300px;')
                ui-select-match(placeholder='Enter quantity...') {{$select.selected.quantity}}
                ui-select-choices(repeat='quantity in quantities track by $index', refresh='refreshBeers($select.search)', refresh-delay='0')
                  div(ng-bind-html='quantity.quantity | highlight: $select.search')


            button.btn.btn-primary(type="button",ng-click="link()",ng-disabled="!bar.selected._id || !beer.selected._id || form.priceOfBeer.$error") Ling Beer To Bar


