section#menuAdminController(ng-controller="menuBarController")
    .container
        .row
            h3.error(ng-show="error") {{error}}
            h3.text-success(ng-show="message") {{message}}
        .row
            .col-md-6
                form
                    div
                        h4
                            span.glyphicon.glyphicon-search
                            label(translate="ADMIN_TITRE_BAR")
                        .form-group
                            label(for="nameOBar",translate="ADMIN_LIST_NAME")
                            ui-select(ng-model='bar.selected',theme='bootstrap', ng-disabled='addNewBar',on-select="gotoBar($item, $model)", reset-search-input='true', style='width: 300px;')
                                ui-select-match(placeholder='Enter an bar...') {{$select.selected.nom}}
                                ui-select-choices(repeat='bar in bars track by $index', refresh='refreshBars($select.search)', refresh-delay='0')
                                    div(ng-bind-html='bar.nom | highlight: $select.search')
                        .form-group
                            label(for="nameOfBar",translate="ADMIN_LABEL_NAME")
                            input#nameOfBar.form-control(ng-model="bar.nom",ng-disabled="!bar")

                        .form-group
                            label(for="addressOfBar",translate="ADMIN_LABEL_ADDR")
                            input#addressOfBar.form-control(ng-model="bar.adresse",ng-disabled="!bar")

                        .form-group
                            label(for="geolocationOfBar",translate="ADMIN_LABEL_GEO")
                            input#geolocationOfBar.form-control(ng-model="bar.geolocation",ng-disabled="true")

                        .form-group
                            label(translate="ADMIN_LABEL_HAPPY_HOURS")
                            textarea.form-control(rows='3',ng-model="bar.happyhours",ng-disabled="!bar")


            .col-md-6
                ui-gmap-google-map.mapForAddBeerOrBar(center="map.center",zoom="map.zoom",draggable="true",options="options",bounds="map.bounds")
                    ui-gmap-markers(models="myLocation",icon="'icon'",coords="'self'")
                    ui-gmap-markers(models="barsLocation",icon="'icon'",coords="'self'",click="markerClick")
                    ui-gmap-markers(models="searchLocation",icon="'icon'",coords="'self'")

        .row
            h3(ng-show="bar") {{ 'TABLEAU_TITLE' | translate=bar }}
            div#infoBar(ng-show="bar")
                table.table.table-striped
                    thead
                        tr
                            th(translate="TABLEAU_DESC_1")
                            th(translate="TABLEAU_DESC_2")
                            th(translate="TABLEAU_DESC_3")
                            th(translate="TABLEAU_DESC_4")
                            th(translate="TABLEAU_DESC_5")
                            th(translate="TABLEAU_DESC_7")
                            th(translate="TABLEAU_DESC_9")
                            th(ng-show='currentUser.role=="ADMIN"',translate="TABLEAU_DESC_6")
                    tbody
                        tr(ng-repeat='consumption in bar.consumptions')
                            td {{ consumption.beer_id[0].nom }}
                            td
                                p(ng-repeat="type in consumption.type_id") {{type.name}}
                            td {{ consumption.beer_id[0].alcool }} %
                            td {{ consumption.quantity }}
                            td
                                div#priceOfBeer.input-group
                                    input.form-control(type="text",ng-model="consumption.price",is-number)
                                    span.input-group-addon €
                            td {{ consumption.date }}
                            td
                                input(type='checkbox',ng-model="consumption.pression")
                            td(ng-show='consumption.enable')
                                button.btn.btn-default(ng-click="changerEtatConsumption(consumption)")
                                    span.glyphicon.glyphicon-ok-circle
                                button.btn.btn-default(ng-click="deleteConsumption(consumption)")
                                    span.glyphicon.glyphicon-trash
                            td(ng-show='!consumption.enable')
                                button.btn.btn-default(ng-click="changerEtatConsumption(consumption)")
                                    span.glyphicon.glyphicon-remove-circle
                                button.btn.btn-default(ng-click="deleteConsumption(consumption)")
                                    span.glyphicon.glyphicon-trash
        .row
            button.btn.btn-primary(type="button",ng-show="bar",ng-click="updateBar(bar)",translate="LABEL_ADMIN_BAR")
