section#searchBeer.searchBeer(ng-controller="searchBeerController")
    .container
        .container-fluid
            .row
                .col-xs-11
                    form.form-inline#search-form
                        .form-group
                            h3 Choose a type
                            ui-select(multiple,ng-model="multipleChoose.selectedTypes", theme='bootstrap',on-select="refreshBeersList($item)",on-remove="refreshBeersListAfterDelete($item)", reset-search-input='true', style='width: 300px;')
                                ui-select-match(placeholder='Enter an type...') {{$item.name}}
                                ui-select-choices(repeat='type in types', refresh='refreshTypes($select.search)', refresh-delay='0')
                                    div(ng-bind-html='type.name | highlight: $select.search')
                            a(ng-click="removeType()")
                                span.glyphicon.glyphicon-remove

                        .form-group
                            h3 Choose a beer
                            ui-select(ng-model='beer.selected', theme='bootstrap', reset-search-input='false', style='width: 300px;')
                                ui-select-match(placeholder='Enter an beer...') {{$select.selected.nom}}
                                ui-select-choices(repeat='beer in beers track by $index', refresh='refreshBeers($select.search)', refresh-delay='0')
                                    div(ng-bind-html='beer.nom | highlight: $select.search')

                        .form-group
                            button.btn.btn-primary(type="button",ng-click="searchBeer()") Search your beer !

            .row
                .col-xs-11
                    ui-gmap-google-map(center='map.center',zoom='map.zoom')
                        ui-gmap-markers(models="myLocation",idKey="'uid'",icon="'icon'",coords="'self'")
                        ui-gmap-markers(models="barsLocation",idKey="'uid'",icon="'icon'",coords="'self'",click="'onClick'")
            .row
                .col-xs-11
                    div#infoBar(ng-show="beerShow")
                        h3 List of Beer here : {{beerShow.nom}}
                        table.table.table-striped
                            thead
                                tr
                                    th Name
                                    th Type
                                    th Alcool
                                    th Quantity
                                    th Price
                            tbody
                                tr(ng-repeat='consumption in (filteredItems=beerShow.consumptions)')
                                    td(ng-show="consumption.enable") {{ consumption.beer_id[0].nom }}
                                    td(ng-show="consumption.enable")
                                        p(ng-repeat="type in consumption.type_id") {{type.name}}
                                    td(ng-show="consumption.enable") {{ consumption.beer_id[0].alcool }} %
                                    td(ng-show="consumption.enable") {{ consumption.quantity }}
                                    td(ng-show="consumption.enable") {{ consumption.price }} €
