section#searchBeer.searchBeer(ng-controller="searchBeerController")
    .container
        .container-fluid
            .row.cadre
                .col-xs-12.col-md-4
                    .row.ligne-search
                        .circle 1
                        h3 {{ 'TITLE_CRITERE_1' | translate }}
                    .row
                        ui-select(multiple,ng-model="multipleChoose.selectedTypes", theme='bootstrap',on-select="refreshBeersList($item)",on-remove="refreshBeersListAfterDelete($item)", reset-search-input='true', style='width: 300px;')
                            ui-select-match(placeholder='Enter an type...') {{$item.name}}
                            ui-select-choices(repeat='type in types', refresh='refreshTypes($select.search)', refresh-delay='0')
                                div(ng-bind-html='type.name | highlight: $select.search')
                .col-xs-12.col-md-4
                    .row.ligne-search
                        .circle 2
                        h3 {{ 'TITLE_CRITERE_2' | translate }}
                    .row
                        ui-select(ng-model='beer.selected', theme='bootstrap', reset-search-input='false', style='width: 300px;')
                            ui-select-match(placeholder='Enter an beer...') {{$select.selected.nom}}
                            ui-select-choices(repeat='beer in beers track by $index', refresh='refreshBeers($select.search)', refresh-delay='0')
                                div(ng-bind-html='beer.nom | highlight: $select.search')
                .col-xs-12.col-md-4
                    .row.ligne-search
                        .circle 3
                        h3 {{ 'TITLE_CRITERE_3' | translate }}
                    .row
                        .col-xs-2
                            b &euro; 1
                        .col-xs-8
                            span
                                span(slider='', slider-id='rangeSlider', ng-model='slider.value', value='slider.value', min='slider.min', max='slider.max', range='slider.range',step='slider.step')
                        .col-xs-2
                            b &euro; 30
            .row.rowSearch
                button.btn.btn-primary.btn-search(type="button",ng-click="searchBeer()") {{ 'LABEL_SEARCH_BTN' | translate }}

            .row
                .col-xs-12.col-md-12
                    ui-gmap-google-map(center='map.center',zoom='map.zoom')
                        ui-gmap-markers(models="myLocation",idKey="'uid'",icon="'icon'",coords="'self'")
                        ui-gmap-markers(models="barsLocation",idKey="'uid'",icon="'icon'",coords="'self'",click="'onClick'")
            .row
                .col-xs-12.col-md-12
                    h3(ng-show="beerShow") {{ 'TABLEAU_TITLE' | translate }} {{beerShow.nom}}
                    div#infoBar(ng-show="beerShow")
                        h3 {{ 'TITLE_PRESSION_BEER' | translate }}
                        table.table.table-striped
                            thead
                                tr
                                    th {{ 'TABLEAU_DESC_1' | translate }}
                                    th {{ 'TABLEAU_DESC_2' | translate }}
                                    th {{ 'TABLEAU_DESC_3' | translate }}
                                    th {{ 'TABLEAU_DESC_4' | translate }}
                                    th {{ 'TABLEAU_DESC_5' | translate }}
                            tbody
                                tr(ng-repeat='consumption in (filteredItems=beerShow.consumptions) | filter:{ pression: true }')
                                    td(ng-show="consumption.enable") {{ consumption.beer_id[0].nom }}
                                    td(ng-show="consumption.enable")
                                        p(ng-repeat="type in consumption.type_id") {{type.name}}
                                    td(ng-show="consumption.enable") {{ consumption.beer_id[0].alcool }} %
                                    td(ng-show="consumption.enable") {{ consumption.quantity }}
                                    td(ng-show="consumption.enable") {{ consumption.price }} €

            .row
                .col-xs-12.col-md-12
                    div#infoBar(ng-show="beerShow")
                        h3 {{ 'TITLE_BOTLE_BEER' | translate }}
                        table.table.table-striped
                            thead
                                tr
                                    th {{ 'TABLEAU_DESC_1' | translate }}
                                    th {{ 'TABLEAU_DESC_2' | translate }}
                                    th {{ 'TABLEAU_DESC_3' | translate }}
                                    th {{ 'TABLEAU_DESC_4' | translate }}
                                    th {{ 'TABLEAU_DESC_5' | translate }}
                            tbody
                                tr(ng-repeat='consumption in (filteredItems=beerShow.consumptions) | filter:{ pression: false }')
                                    td(ng-show="consumption.enable") {{ consumption.beer_id[0].nom }}
                                    td(ng-show="consumption.enable")
                                        p(ng-repeat="type in consumption.type_id") {{type.name}}
                                    td(ng-show="consumption.enable") {{ consumption.beer_id[0].alcool }} %
                                    td(ng-show="consumption.enable") {{ consumption.quantity }}
                                    td(ng-show="consumption.enable") {{ consumption.price }} €

            .row
                div#infoBar(ng-show="beerShow")
                    h3 {{ 'TITLE_HAPPY_HOUR' | translate }}
                    label {{ beerShow.happyhours }}


            .row.rowFocus.hidden-xs
                .compassFocus
                    a(ng-click="gotoAnchor('team')")
                        i.fa.fa-chevron-down.fa-4x
