footer#team.team
    div.container
        div.section-header
            h2.dark-text Team
            h6  This site has been developed with moderation by a team whose only motivation is the glory ...

        .row
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="Thomas Verhoken")
                h5 Programmer
                p Desc
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="Yan Matagne")
                h5 Programmer
                p Desc
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 Beer's tester
                p Desc
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 Beer's tester
                p Desc




