footer#team.team
    div.container
        div.section-header
            h2.dark-text {{ 'TITLE_TEAM' | translate }}
            h6  {{ 'DESC_TEAM' | translate }}
        .row
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="YM")
                h5 YM
                p Programmer
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="TV")
                h5 TV
                p Programmer
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 JH
                p Beer's tester
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 FV
                p Beer's tester




