footer#team.team.hidden-xs.hidden-sm
    div.container
        div.section-header
            h2.dark-text(translate="TITLE_TEAM")
            h6(translate="DESC_TEAM")
        .row
            .col-sm-3.col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="YM")
                h5 YM
                p Programmer
            .col-sm-3.col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="TV")
                h5 TV
                p Programmer
            .col-sm-3.col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 JH
                p Beer's tester
            .col-sm-3.col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 FV
                p Beer's tester




