html {
    color: #404040;
}

body{
    font-family: 'Raleway', sans-serif;
}
#main-nav.fixed {
    position: fixed !important;
    top: 0;
}

#main-nav {
    position: absolute;
    width: 100%;
    z-index: 1000;
    min-height: 75px;
}

.navbar {
    background: #FFF;
    border: 0;
    border-radius: 0 !important;
    text-align: left;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}

.navbar-inverse .navbar-nav > li {
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #279c82;
}

.imageLogo {
    width: 150px;
}
.rowCompass{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
.compassHome{
    text-align: center;
    color:#279c82;
    index:9999;
}
.compassFocus{
    text-align: center;
    color:#279c82;
    index:9999;
}
.compassFocus>a{
    color:#279c82;
}.compassFocus>a>i{
     color:#279c82;
 }
.compassFocus>a{
    -webkit-animation: translate 1s linear infinite;
}

.compassHome>a{
    color:#279c82;
}.compassHome>a>i{
     color:#279c82;
 }
.compassHome>a{
    -webkit-animation: translate 1s linear infinite;
}
@-webkit-keyframes translate {
    from{
        -webkit-transform: translateY(0px);
    }
    to{
        -webkit-transform: translateY(20px);
    }
}

.title-accroche{
    text-align: center;
}
.title-first-word{
    color: #279c82;
    font-size: 40px;
}
.header {
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
}


#home {
    min-height: 900px;
}

.imageHome {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-left: 40px;
}

.titleHome {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.focus {
    padding-top: 100px;
    margin-bottom:50px;
    min-height: 900px;
}

.titleFocus{
    text-align: center;
    margin-bottom: 50px;
}
.imageProcess {
  height:1000px;
}
.imageProcess > h1{
    position: absolute;
    z-index: 99;
    margin-top: 100px;
    color:#279c82;
}
.imageProcess>img {
    height:1100px;
}
.searchBeer {
    padding-bottom: 10px;
    margin-top: 100px;
    padding-top: 100px;
    background: #FFFFFF;
    min-height: 1000px;
}

.searchBeer h2 {
    padding-bottom: 10px;
    line-height: 40px;
    position: relative;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.searchBeer h6 {
    font-size: 16px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.checkboxImage {
    width: 30px;
}

.angular-google-map-container {
    min-height: 500px;
    width: 100%;

    margin: 0px;
    padding: 0px
}
.mapForAddBeerOrBar{
    min-height: 500px;
    width: 100%;

    margin: 0px;
    padding: 0px
}
.team {
    padding-bottom: 66px;
    margin-top: 100px;
    padding-top: 100px;
    background: #279c82;
    color:white;
}

.team h2 {
    padding-bottom: 10px;
    line-height: 40px;
    position: relative;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.team h6 {
    font-size: 16px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#menuAdminController {
    min-height: 1000px;
    margin-top: 100px;
}
#search-form>div{
    margin-right: 10px;
}
#search-form>div>div>button{
    width: 100%;
}
#search-form>div>div>input{
    width: 100%;
}
#search-form>div>div>span{
    width: 100%;
}
/****************/
/*  Login Form  */
/****************/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.extra {
    max-width: 330px;
    margin: 0 auto;
    height: 120px;
}

a.sso-button.google {
    background-position: 0 0px;
}

a.sso-button {
    display: block;
    float: left;
    width: 94px;
    height: 40px;
    border: #e6e6e6 solid 1px;
    margin-right: 6px;
    text-indent: -9999px;
    background: url(/images/sso.png) no-repeat;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.error {
    color: red;
}

#linkToConnect {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.img-circle{
    width: 150px;
}

.user_team{
    text-align: center;
    margin-top: 50px;
}
#menu {
    right: auto;
}
.title-footer{
    text-align: center;
    color:#777;
}
.social-network{
    color: #279c82;
}
.social-row{
    text-align: center;
}

.inc{
    text-align: center;
    color:#777;
}
.cadre{
    border-radius: 5px;
    border: 1px solid #279c82;
    padding: 10px;
    margin-bottom: 10px;
}
.circle{
    width: 25px;
    background: #279c82;
    height: 25px;
    text-align: center;
    border-radius: 25px;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 10px;
}
.ligne-search{
    display: inline-flex;
}
.btn-search{
    background-color: #279c82;
    height: 50px;
}
.rowSearch{
    float: right;
    margin-bottom: 20px;
}
.thumbnailFocus{
    min-height: 380px;
    border-color: #279c82;
}

.thumbnailFocus img{
    height: 170px;
}
.ngdialog-content{
    border-radius: 5px;
    border: 3px solid #279c82;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff !important;
}
.btnLogin{
    background-color: #279c82;
}
.signUp{
    color: #279c82;
}
.hrLogin{
    border-top: 1px solid #279c82;
}
.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}