html
    head
        title="Beer2beer - The road of beer"
        link(rel="shortcut icon",href="images/icons/favicon.ico")
        link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog.min.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog-theme-default.min.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog-theme-plain.min.css")
        script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
        script(type='text/javascript').
            var map;
            function initialize() {
            var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644)
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            }
            google.maps.event.addDomListener(window, 'load', initialize);

    body(ng-app="b2b")
        include header

        block content

        include footer

        script(src="libs/jquery/dist/jquery.min.js")
        script(src="libs/bootstrap/dist/js/bootstrap.min.js")
        script(src="libs/angular/angular.min.js")
        script(src="libs/angular-bootstrap/ui-bootstrap.min.js")
        script(src="libs/angular-route/angular-route.min.js")
        script(src="libs/ngDialog/js/ngDialog.min.js")
        script(src="libs/angular-scroll/angular-scroll.min.js")
        script(src="app/app.js")
