html
    head
        title="Beer2beer - The road of beer"
        link(rel="shortcut icon",href="images/favicon.ico")

        //-<!-- build:css css/b2b.css -->
        link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog.min.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog-theme-default.min.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog-theme-plain.min.css")
        link(rel="stylesheet", href="libs/angular-ui-select/dist/select.min.css")
        link(rel="stylesheet", href="libs/components-font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="libs/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
        link(rel="stylesheet", href="libs/ng-table/dist/ng-table.min.css")
        //-<!-- endbuild -->

        link(href='http://fonts.googleapis.com/css?family=Raleway',rel='stylesheet',type='text/css')

        //-<!-- build:js libs/angular.js -->
        script(src="libs/angular/angular.min.js")
        //-<!-- endbuild -->

    body(ng-app="b2b")
        include header

        div(ng-view)

        include footer

        //-<!-- build:js libs/plugins.js -->
        script(src="libs/angular-loader/angular-loader.min.js")
        script(src="libs/jquery/dist/jquery.min.js")
        script(src="libs/bootstrap/dist/js/bootstrap.min.js")
        script(src="libs/angular-bootstrap/ui-bootstrap.min.js")
        script(src ="libs/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js")
        script(src ="libs/angular-bootstrap-slider/slider.js")
        script(src="libs/angular-sanitize/angular-sanitize.min.js")
        script(src="libs/angular-route/angular-route.min.js")
        script(src ="libs/angular-ui-select/dist/select.min.js")
        script(src="libs/ngDialog/js/ngDialog.min.js")
        script(src="libs/angular-scroll/angular-scroll.min.js")
        script(src="libs/lodash/dist/lodash.min.js")
        script(src="libs/angular-google-maps/dist/angular-google-maps.min.js")
        script(src="libs/angular-translate/angular-translate.min.js")
        script(src = "libs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
        script(src = "libs/ng-table/dist/ng-table.min.js")
        //-<!-- endbuild -->



        //-<!-- build:js libs/b2b.js -->
        script(src="app/src/application.js")
        script(src="app/src/directives/isNumber.js")
        script(src = "app/src/directives/loadingContainer.js")
        script(src="app/src/services/authService.js")
        script(src = "app/src/services/userService.js")
        script(src = "app/src/services/barService.js")
        script(src = "app/src/services/beerService.js")
        script(src = "app/src/services/typeService.js")
        script(src = "app/src/services/breweryService.js")
        script(src = "app/src/controllers/footerController.js")
        script(src="app/src/controllers/authController.js")
        script(src="app/src/controllers/menuAdminController.js")
        script(src = "app/src/controllers/menuBarController.js")
        script(src="app/src/controllers/searchBeerController.js")
        script(src ="app/src/controllers/rechercheController.js")
        script(src = "app/src/controllers/usersController.js")
        //-<!-- endbuild -->

        script(src = "app/src/i18n/messages-en.json")
        script(src = "app/src/i18n/messages-fr.json")
