html
    head
        title="Beer2beer - The road of beer"
        link(rel="shortcut icon",href="images/icons/favicon.ico")
        link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog.min.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog-theme-default.min.css")
        link(rel="stylesheet", href="libs/ngDialog/css/ngDialog-theme-plain.min.css")
        link(rel="stylesheet", href="libs/angular-ui-select/dist/select.min.css")
        script(src="libs/angular/angular.min.js")

    body(ng-app="b2b")
        include header

        div(ng-view)

        include footer

        //-<!--build:js libs/plugins.js-->
        script(src="libs/jquery/dist/jquery.min.js")
        script(src="libs/bootstrap/dist/js/bootstrap.min.js")
        script(src="libs/angular-bootstrap/ui-bootstrap.min.js")
        script(src="libs/angular-sanitize/angular-sanitize.min.js")
        script(src="libs/angular-route/angular-route.min.js")
        script(src ="libs/angular-ui-select/dist/select.min.js")
        script(src="libs/ngDialog/js/ngDialog.min.js")
        script(src="libs/angular-scroll/angular-scroll.min.js")
        script(src="libs/lodash/dist/lodash.min.js")
        script(src="libs/angular-google-maps/dist/angular-google-maps.min.js")
        //-<!-- endbuild--> 
        //-<!--build:js app/b2b.js-->
        script(src="app/src/application.js")
        script(src="app/src/controllers/authController.js")
        script(src="app/src/controllers/menuAdminController.js")
        script(src="app/src/controllers/searchBeerController.js")
        script(src="app/src/services/authService.js")
        //-<!-- endbuild-->
