footer#footer.footer
        .row
            .col-md-12
                .row
                    h4.row-space-4.hide-sm.title-footer Join or contact us !
                .row.social-row
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-twitter.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-google-plus.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-facebook.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-github.fa-stack-1x

                .row.inc
                    p © Beer2Beer





