footer#team.team
    div.container
        div.section-header
            h2.dark-text Team
            h6  This site has been developed with moderation by a team whose only motivation is the glory ...

        .row
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="Thomas Verhoken")
                h5 Programmer
                p Desc
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="Yan Matagne")
                h5 Programmer
                p Desc
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 Beer's tester
                p Desc
            .col-md-3.user_team
                img.img-circle(src="images/jedi1.jpg",alt="...")
                h5 Beer's tester
                p Desc

        hr.footer-divider.row-space-top-8.row-space-4.hide-sm.social-media.text-center
        .row
            .col-md-12
                .row
                    h4.row-space-4.hide-sm.title-footer Join or contact us !
                .row
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-twitter.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-google-plus.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-facebook.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x
                    a.social-network
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-github.fa-stack-1x







